@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<span class="screen-darken"></span>

<div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a id="privacy" asp-area="Home" asp-page="/Privacy">Privacidade</a>
    @* Logged in *@
    @if (SignInManager.IsSignedIn(User))
    {

        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"
        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit">Logout</button>
        </form>

        <a href="#news" id="logout" type="submit">
            <form action="hue">Help</form>
        </a>
        <a asp-area="Identity" asp-page="/Account/Manage/Index">@UserManager.GetUserName(User)</a>
        <a href="javascript:void(0);" class="icon" id="btn-open">
            &#9776;
        </a>
    }
    @* Not logged in *@
    else
    {
        <a style="float: right;" class="nav-link text-dark" id="register" asp-area="Identity"
        asp-page="/Account/Login">Entrar</a>
        <a style="float: right;" id="register" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
        <a href="javascript:void(0);" class="icon" id="btn-open">
            &#9776;
        </a>
    }
    <div class="mobile-offcanvas" id="nav">
        <div>
            <div class="offcanvas-header">
                <button id="btn-close">&#9747;</button>
            </div>
        </div>
    </div>
</div>
@* js *@
<script src="~/js/navbar.js" type="text/javascript"></script>