<div id="image-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-body">
            <div id="modal-picture">
                <span class="close">×</span>
                <img id="img-modal" src="~/images/" alt="" class="responsive" />
            </div>
        </div>
    </div>
</div>