@{
    ViewData["Title"] = "Home Page";
    ViewBag.Home = true;
}
    <div id="homeBanner">
    <img src="~/images" alt="">
    <h1 class="text-grey">Simple Gallery App</h1>
    <div class="block">
        <a class="btn-default" asp-area="Identity" asp-page="/Account/Register">Comece Já</a>
    </div>
</div>


